.form-container {
    background: #e3f2fd;
    padding: 20px;
    border: 1px solid #ccc;
}

.titulo-cad-recebimento {
    font-size: 1.5rem;
}

.form-section-title {
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.form-section-title,
.card-header {
    background-color: #078dfb;
    /* azul claro consistente */
}

.card {
    background: #e3f2fd;
}

.btn-custom {
    min-width: 120px;
    margin: 5px;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

/* Tom mais escuro para os botões Buscar */
.btn-outline-secondary {
    color: #444;
    border-color: #444;
    background-color: #c5defd;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    background-color: #8b8e91;
    border-color: #444;
    color: #fff;
}
